### An example of how I organize my `.env` file for docker compose:
###
### DELETE LINES STARTING WITH `###`, they are my personal comments
### intended to get started. Once you're up and running they largely
### won't be useful to you. The group numbers in here are chosen at
### random, they WILL be different on your system(s).
# General settings
TZ=America/Denver
DOMAIN=your.personal.tld
NAS_USER_PUID=1000

# Media stack settings
### I have a group for the service users to share content,
### namely the *arr's and torrent downloads.
### Create the media group first before service system users:
###     $ sudo addgroup --system media
MEDIA_PGID=531

### These should be system users, add them with something like:
###     $ sudo adduser --system --ingroup media `username`
###     
SONARR_PUID=500
RADARR_PUID=501
TORRENT_PUID=502
EMBY_PUID=503
PROWLARR_PUID=504
BAZARR_PUID=505
READARR_PUID=506
HEIMDALL_PUID=507

# Folding@home settings
FOLDINGATHOME_TOKEN="yourFolding@HomeToken"
FOLDINGATHOME_MACHINE_NAME="folder"

# WireGuard VPN settings
### Below is a sample of what could be required for protonvpn.
### Check out the gluetun docs, they have a lot of supported setups.
VPN_PROVIDER="protonvpn"
VPN_COUNTRIES="country(ies)"
WIREGUARD_PRIVATE_KEY="The wireguard key, see gluetun docs"
WIREGUARD_ADDRESSES="See gluetun docs..."

