networks:
  media:

services:
  emby:
    image: lscr.io/linuxserver/emby:latest
    container_name: emby
    hostname: emby
    environment:
      - PUID=${EMBY_PUID}
      - PGID=${MEDIA_PGID}
      - TZ=${TZ}
    volumes:
      - /lake/media-server-configs/emby/config:/config
      - /lake/media/tv:/data/tvshows
      - /lake/media/movies:/data/movies
      - /lake/media/recordings:/data/recordings
    devices:
      - /dev/dri:/dev/dri
    labels:
      - traefik.enable=true
      - traefik.docker.network=media
      - traefik.http.routers.emby.rule=Host(`emby.${DOMAIN}`)
      - traefik.http.services.emby.loadbalancer.server.port=8096
    restart: unless-stopped
    networks:
      - media

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    hostname: sonarr
    environment:
      - PUID=${SONARR_PUID}
      - PGID=${MEDIA_PGID}
      - UMASK=002
      - TZ=${TZ}
    volumes:
      - /lake/media-server-configs/sonarr/config:/config
      - /lake/media/tv:/tv
      - /lake/media/torrents/downloads:/downloads
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.docker.network=media
      - traefik.http.routers.sonarr.rule=Host(`sonarr.${DOMAIN}`)
      - traefik.http.services.sonarr.loadbalancer.server.port=8989
    networks:
      - media

  sportarr:
    image: sportarr/sportarr:latest
    container_name: sportarr
    environment:
      - PUID=${SPORTARR_PUID}
      - PGID=${MEDIA_PGID}
      - UMASK=002
      - TZ=${TZ}
    volumes:
      - /lake/media-server-configs/sportarr/config:/config
      - /lake/media/sports:/data
    labels:
      - traefik.enable=true
      - traefik.docker.network=media
      - traefik.http.routers.sportarr.rule=Host(`sportarr.${DOMAIN}`)
      - traefik.http.services.sportarr.loadbalancer.server.port=1867
    restart: unless-stopped
    networks:
      - media

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    hostname: radarr
    environment:
      - PUID=${RADARR_PUID}
      - PGID=${MEDIA_PGID}
      - UMASK=002
      - TZ=${TZ}
    volumes:
      - /lake/media-server-configs/radarr/config:/config
      - /lake/media/movies:/movies
      - /lake/media/torrents/downloads:/downloads
    labels:
      - traefik.enable=true
      - traefik.docker.network=media
      - traefik.http.routers.radarr.rule=Host(`radarr.${DOMAIN}`)
      - traefik.http.services.radarr.loadbalancer.server.port=7878
    restart: unless-stopped
    networks:
      - media

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    hostname: prowlarr
    environment:
      - PUID=${PROWLARR_PUID}
      - PGID=${MEDIA_PGID}
      - UMASK=002
      - TZ=${TZ}
    volumes:
      - /lake/media-server-configs/prowlarr/config:/config
    labels:
      - traefik.enable=true
      - traefik.docker.network=media
      - traefik.http.routers.prowlarr.rule=Host(`prowlarr.${DOMAIN}`)
      - traefik.http.services.prowlarr.loadbalancer.server.port=9696
    restart: unless-stopped
    networks:
      - media

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    hostname: flaresolverr
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=${TZ}
    labels:
      - traefik.enable=true
      - traefik.docker.network=media
      - traefik.http.routers.flaresolverr.rule=Host(`flaresolverr.${DOMAIN}`)
      - traefik.http.services.flaresolverr.loadbalancer.server.port=8191
    restart: unless-stopped
    networks:
      - media

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    hostname: bazarr
    environment:
      - PUID=${BAZARR_PUID}
      - PGID=${MEDIA_PGID}
      - TZ=${TZ}
      - UMASK=002
    volumes:
      - /lake/media-server-configs/bazarr/config:/config
      - /lake/media/movies:/movies
      - /lake/media/tv:/tv
    labels:
      - traefik.enable=true
      - traefik.docker.network=media
      - traefik.http.routers.bazarr.rule=Host(`bazarr.${DOMAIN}`)
      - traefik.http.services.readarr.loadbalancer.server.port=6767
    restart: unless-stopped
    networks:
      - media
