networks:
  download:

services:
  gluetun-vpn:
    container_name: gluetun-vpn
    hostname: gluetun-vpn
    image: "qmcgaw/gluetun:v3.39.1"
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=${VPN_PROVIDER}
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
      - PORT_FORWARD_ONLY=on
      - VPN_PORT_FORWARDING=on
      - SERVER_COUNTRIES=${VPN_COUNTRIES}
      - UPDATER_PERIOD=12h
      - TZ=${TZ}
    labels:
      - traefik.enable=true
      - traefik.docker.network=download
      - traefik.http.routers.transmission.rule=Host(`transmission.${DOMAIN}`)
      - traefik.http.routers.transmission.service=transmission
      - traefik.http.services.transmission.loadbalancer.server.port=9091
      - traefik.http.routers.sabnzbd.rule=Host(`sabnzbd.${DOMAIN}`)
      - traefik.http.routers.sabnzbd.service=sabnzbd
      - traefik.http.services.sabnzbd.loadbalancer.server.port=8080
    networks:
      - download

  sabnzbd:
    container_name: sabnzbd
    image: lscr.io/linuxserver/sabnzbd:latest
    network_mode: "service:gluetun-vpn"
    environment:
      - PUID=${TORRENT_PUID}
      - PGID=${MEDIA_PGID}
      - UMASK=002
      - TZ=${TZ}
    volumes:
      - /lake/media-server-configs/sabnzbd/config:/config
      - /lake/media:/media
    restart: unless-stopped

  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    network_mode: "service:gluetun-vpn"
    environment:
      - PUID=${TORRENT_PUID}
      - PGID=${MEDIA_PGID}
      - UMASK=002
      - TZ=${TZ}
    volumes:
      - /lake/media-server-configs/downloader/config:/config
      - /lake/media:/media
    restart: unless-stopped

